<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet blue box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-file-o"></i>COE Information
                </div>
                <div class="actions">
                    <a href="{% url "coe.change" coe.id %}" class="btn btn-default btn-sm">
                        <i class="fa fa-pencil"></i> Edit </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                    <div class="col-md-5 name">
                        ID
                    </div>
                    <div class="col-md-7 value">
                        {{ coe.id }}
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                        Institution
                    </div>
                    <div class="col-md-7 value">
                        {{ coe.institution.name }}
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                        Course Start
                    </div>
                    <div class="col-md-7 value">
                        {{ coe.start }}
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                        Course End
                    </div>
                    <div class="col-md-7 value">
                        {{ coe.end }}
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                        Total Tuition Fee
                    </div>
                    <div class="col-md-7 value">
                        {{ coe.totalTuitionFee }}
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                        Bouns
                    </div>
                    <div class="col-md-7 value">
                        {{ coe.bonus }}
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                        Referal's Commission
                    </div>
                    <div class="col-md-7 value">
                        {{ coe.referalCommission }}
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                        Consultant's Commission
                    </div>
                    <div class="col-md-7 value">
                        {{ coe.consultantCommission }}
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                        Description
                    </div>
                    <div class="col-md-7 value">
                        {{ coe.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>