<div class="row">
    <div class="row profile-account">
        <div class="col-md-3">
            <ul class="ver-inline-menu tabbable margin-bottom-10">
                {% for stage in stages %}
                    {% if stages.0 == stage %}
                        <li class="active">
                            {% else %}
                        <li>
                    {% endif %}
                <a data-toggle="tab" href="#tab_{{ stage.order }}">
                    <i class="fa fa-cog"></i> {{ stage.order }}. {{ stage.title }} </a>
                <span class="after">
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                {% for stage in stages %}
                    {% if stage == stages.0 %}
                        <div id="tab_{{ stage.order }}" class="tab-pane active">
                    {% else %}
                        <div id="tab_{{ stage.order }}" class="tab-pane">

                    {% endif %}
                    <div class="col-md-12">
                        <div class="portlet purple-plum box">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i>Stage Documents
                                </div>
                                <div class="actions">
                                    <a href="#" class="btn btn-default btn-sm">
                                        <i class="fa fa-pencil"></i> Edit </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <form id="my-awesome-dropzone" action="{% url 'document.upload' %}" class="dropzone">
                                    {% csrf_token %}
                                    <input type="hidden" name="stage" value="{{ stage.id }}">
                                    <input type="hidden" name="coe" value="{{ coe.id }}">

                                    <div class="row static-info">
                                        <div class="col-md-12 value">
                                            <ol>
                                                {% for document in coe.documents.all %}
                                                    <li>{{ document }}</li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                </div>

                <!--end col-md-9-->
                </div>
            </div>
        </div>
    </div>
</div>