{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    {% if spec_coe %}
        Coe Configuration
    {% else %}
        Coe Addition
    {% endif %}
{% endblock %}
{% block plugincss %}
<link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2.css' %}"/>
<link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2-bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/bootstrap-datepicker/css/datepicker.css' %}"/>
{% endblock %}
{% block header %}
    Coe
{% endblock %}
{% block subHeader %}
    {% if spec_coe %}
        Configuration
    {% else %}
        Addition
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'client.list' %}">Client</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            {% if spec_coe %}
                <a href="{% url 'coe.details' spec_coe.id %}">Coe</a>
            {% else %}
                <a href="#">New Coe</a>
            {% endif %}

        </li>
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-file"></i>
                        {% if spec_coe %}
                            Coe Configuration
                        {% else %}
                            Coe Addition
                        {% endif %}
                    </div>
                </div>
                <div class="portlet-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
                    </form>
{#                    {{ client.id }}#}
                    {% if spec_coe %}
                        {% if perms.client.delete_coe %}
{#                            {{ client.id }}#}
                            <a href="{% url "coe.delete" client.id spec_coe.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block pluginjs %}
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>
    <script type="application/javascript"
            src="{% static 'assets/global/plugins/select2/select2.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

{% endblock %}
{% block script %}
    <script>
        $('form select').select2();
        $('input[name="start"]').datepicker();
        $('input[name="end"]').datepicker();
    </script>
{% endblock %}