{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    {{ client }}'s Details
{% endblock %}
{% block plugincss %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
    <link href="{% static 'assets/global/plugins/dropzone/css/basic.css' %}" rel="stylesheet"/>
{% endblock %}

{#page content#}
{% block header %}
    {{ client }}'s
{% endblock %}
{% block subHeader %}
    Details
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'client.list' %}">Client</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'client.details' client.id %}">Details</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-user font-green-sharp"></i>
					<span class="caption-subject font-green-sharp bold uppercase">
					{{ client }}'s </span>
                        <span class="caption-helper">COE</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-tabs-lg">
                            <li class="active">
                                <a href="#tab_overview" data-toggle="tab">
                                    Overview </a>
                            </li>
                            <li>
                                <a href="#tab_payment" data-toggle="tab">
                                    Payment</a>
                            </li>
                            <li>
                                <a href="#tab_stage" data-toggle="tab">
                                    Stage</a>
                            </li>
                            <li>
                                <a href="#tab_invoice" data-toggle="tab">
                                    Invoice</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            {% bootstrap_messages %}

                            <div class="tab-pane active" id="tab_overview">
                                {% include "client/coe/coe.detail.overview.html" %}
                            </div>
                            <div class="tab-pane" id="tab_invoice">
                                {% include "client/coe/coe.detail.invoice.html" %}
                            </div>
                            <div class="tab-pane" id="tab_payment">
                                {% include "client/coe/coe.detail.payment.html" %}
                            </div>
                            <div class="tab-pane" id="tab_stage">
                                {% include "client/coe/coe.detail.stage.html" %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#end page content#}

{% block pluginjs %}
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>
    {#    <script src="{% static 'assets/admin/pages/scripts/form-dropzone.js' %}"></script>#}
    <script src="{% static 'assets/global/plugins/dropzone/dropzone.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/bootstrap-contextmenu/bootstrap-contextmenu.js' %}"></script>
{% endblock %}
{% block script %}
    <script>
        (function () {

            {% if perms.client.change_payment %}
                $('.table-payment tbody tr').contextmenu({
                    target: '#payment-contextmenu',
                    before: function (e, context) {
                        $('#edit').attr('href', ('/client/payment/mod/{{ coe.id }}/' + $(context).children('td[name="payment_id"]').text()));
                        return true;
                    },
                    onItem: function () {
                        window.location.href = $('#edit').attr('href');
                        return true;
                    }
                });
            {% endif %}
            $('.table-stage tbody tr').contextmenu({
                target: '#file-contextmenu',
                before: function (e, context) {
                    $('#delete').attr('href', ('/client/coe/file/delete/' + $(context).children('td:first').text()));
                    return true;
                },
                onItem: function () {
                    if (confirm("Are you sure?")) {
                        window.location.href = $('#delete').attr('href');
                    }
                    return true;
                }
            });
            {% if perms.system.change_invoice %}
                $('.table-invoice tbody tr').contextmenu({
                    target: '#invoice-contextmenu',
                    before: function (e, context) {
                        $('#edit').attr('href', ('/client/invoice/mod/{{ coe.id }}/' + $(context).children('td:first').text()));
                        return true;
                    },
                    onItem: function () {
                        window.location.href = $('#edit').attr('href');
                        return true;
                    }
                });
            {% endif %}
            $('.table').dataTable();
        }());
        (function () {
            {#            Dropzone.options.dropzone = {#}
            {#                init: function () {#}
            {#                    this.on("addedfile", function (file) {#}
            {#                        location.reload()#}
            {#                    });#}
            {#                }#}
            {#            };#}

        }());
    </script>
{% endblock %}