{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    {% if spec_stage.title %}
        Stage Configuration
    {% else %}
        Stage Addition
    {% endif %}
{% endblock %}
{% block plugincss %}
<link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2.css' %}"/>
<link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2-bootstrap.css' %}"/>

{% endblock %}
{% block header %}
    Stage
{% endblock %}
{% block subHeader %}
    {% if spec_stage.title %}
        Configuration
    {% else %}
        Addition
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'client.list' %}">Client</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'stage.list' %}">Stage</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-tags"></i>
                        {% if spec_stage.title %}
                            Stage Configuration
                        {% else %}
                            Stage Addition
                        {% endif %}
                    </div>
                </div>
                <div class="portlet-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
                    </form>

                    {% if spec_stage %}
                        {% if perms.systen.delete_stage %}
                            <a href="{% url 'stage.delete'  spec_stage.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block pluginjs %}
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>
    <script type="application/javascript"
            src="{% static 'assets/global/plugins/select2/select2.min.js' %}"></script>

{% endblock %}
{% block script %}
    <script>
        (function () {
            $('form select').select2();
        }());
    </script>
{% endblock %}