{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    {% if spec_invoice.title %}
        Invoice Configuration
    {% else %}
        Invoice Addition
    {% endif %}
{% endblock %}
{% block plugincss %}
<link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2.css' %}"/>
<link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2-bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/bootstrap-datepicker/css/datepicker.css' %}"/>

{% endblock %}
{% block header %}
    Invoice
{% endblock %}
{% block subHeader %}
    {% if spec_invoice.title %}
        Configuration
    {% else %}
        Addition
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'client.list' %}">Client</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url "coe.details" coe.id %}">COE</a>
            {% if not spec_invoice %}<i class="fa fa-circle"></i>{% endif %}
        </li>
        {% if not spec_invoice %}
        <li>
            <a href="#">New Invoice</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-tags"></i>
                        {% if spec_invoice.title %}
                            Invoice Configuration
                        {% else %}
                            Invoice Addition
                        {% endif %}
                    </div>
                </div>
                <div class="portlet-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
                    </form>

                    {% if spec_invoice %}
                        {% if perms.systen.delete_invoice %}
                            <a href="{% url 'invoice.delete' coe.id spec_invoice.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block pluginjs %}
    <script type="application/javascript"
            src="{% static 'assets/global/plugins/select2/select2.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

{% endblock %}
{% block script %}
    <script>
        (function () {
            $('form select').select2();
            $("datepicker").datepicker();
        }());
    </script>
{% endblock %}