{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block plugincss %}
{% endblock %}
{% block title %}
    {{ spec_department.group.name }} Configuration
{% endblock %}
{% block header %}
    {{ spec_department.group.name }}
{% endblock %}
{% block subHeader %}
    Configuration
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Human Resource</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'department.list' %}">Department</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>
                            {{ spec_department.group.name }} Configuration
                    </div>
                </div>
                <div class="portlet-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form group %}
                        {% bootstrap_form department %}
                        {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
                    </form>

                    {% if spec_department %}
                        {% if perms.systen.delete_department %}
                            <a href="{% url 'department.delete'  spec_department.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block pluginjs %}
{% endblock %}
{% block script %}
{% endblock %}