{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block plugincss %}
{% endblock %}
{% block header %}
    Sidebar Configuration
{% endblock %}
{% block subHeader %}
    ## Sidebar Configuration
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            System
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'sidebar.list' %}">Sidebar</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Sidebar Edit
                    </div>
                </div>
                <div class="portlet-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
                    </form>

                    {% if spec_sidebar %}
                        {% if perms.systen.delete_sidebar %}
                            <a href="{% url 'sidebar.delete'  spec_sidebar.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block pluginjs %}
{% endblock %}
{% block script %}
{% endblock %}