{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block plugincss %}
<link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2.css' %}"/>
<link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2-bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/bootstrap-datepicker/css/datepicker.css' %}"/>
{% endblock %}
{% block title %}
    Employee Edit
{% endblock %}
{% block header %}
    Employee Edit
{% endblock %}
{% block subHeader %}
    ## Employee Edit
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Human Resource</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'employee.list' %}">employee</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>Employee Edit
                    </div>
                </div>
                <div class="portlet-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
                    </form>

                    {% if spec_employee %}
                        {% if perms.systen.delete_employee %}
                            <a href="{% url 'employee.delete'  spec_employee.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block pluginjs %}
    <script type="application/javascript"
            src="{% static 'assets/global/plugins/select2/select2.min.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
{% endblock %}
{% block script %}
    <script>
        (function () {
            $('form select').select2();
            $('input[name="dob"]').datepicker();
        }());
    </script>
{% endblock %}