{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    Employee Wizward
{% endblock %}
{% block plugincss %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2-bootstrap.css' %}"/>
{% endblock %}
{% block header %}
    Employee Wizward
{% endblock %}
{% block subHeader %}
    ## Employee Wizward
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Human Resource</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'employee.list' %}">Employee</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i> Employee Wizard - <span class="step-title">
								Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} </span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="#" class="form-horizontal" id="submit_form" method="POST">
                        {% csrf_token %}
                        <div class="form-wizard">
                            <div class="form-body">
                                <ul class="nav nav-pills nav-justified steps">
                                    <li class="active">
                                        <a href="#tab1" data-toggle="tab" class="step" aria-expanded="true">
												<span class="number">
												1 </span>
												<span class="desc">
												<i class="fa fa-check"></i> Account Setup </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab2" data-toggle="tab" class="step">
												<span class="number">
												2 </span>
												<span class="desc">
												<i class="fa fa-check"></i> Profile Setup </span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 50%">
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">

                                        {{ wizard.management_form }}

                                        {% bootstrap_messages %}
                                        <h3 class="block">Provide your account details</h3>
                                        {% bootstrap_form form layout="horizontal" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        {% if wizard.steps.prev %}
                                            <button name="wizard_goto_step" value="{{ wizard.steps.prev }}"
                                                    class="btn default button-previous" type="submit">
                                                back
                                            </button>
                                        {% endif %}
                                        <input class="btn green button-submit" value="Submit"
                                               type="submit"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        (function () {
            $('form select').select2();
        }());
    </script>
{% endblock %}
{% block pluginjs %}
    <script type="application/javascript"
            src="{% static 'assets/global/plugins/select2/select2.min.js' %}"></script>
{% endblock %}