{% extends 'base.html' %}
{% load staticfiles %}

{% block plugincss %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}"/>

{% endblock %}
{% block header %}
    Label Configuration
{% endblock %}
{% block subHeader %}
    ## Label Configuration
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Datatable with TableTools
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Label Name</th>
                            <th>Label CSS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for label in labels %}
                            <tr>

                                <td>{{ label.id }}</td>

                                <td><span class="label {{ label.css }}">{{ label.name }}</span></td>

                                <td>{{ label.css }}</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block pluginjs %}
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>

{% endblock %}
{% block script %}
    <script>
        (function () {
            $('.table').dataTable();
        }());
    </script>
{% endblock %}