{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    {% if spec_client.name %}
        {{ spec_client.name }}'s {{ section|capfirst }} Configuration
    {% else %}
        New Client
    {% endif %}
{% endblock %}
{% block plugincss %}
<link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2.css' %}"/>
<link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/select2/select2-bootstrap.css' %}"/>
{% endblock %}
{% block header %}
    {% if spec_client.name %}
        {{ spec_client.name }}'s {{ section|capfirst }}
    {% else %}
        New Client
    {% endif %}
{% endblock %}
{% block subHeader %}
    {% if spec_client.name %}
        Configuration
    {% else %}
        Addition
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'client.list' %}">Client</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">New Client</a>
{#            <i class="fa fa-circle"></i>#}
        </li>
{#        <li>#}
{#            <a href="#">{{ section|capfirst }} Configuration</a>#}
{#        </li>#}
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>
                        {% if spec_client.name %}
                            {{ section|capfirst }} Information
                        {% else %}
                            Add New Client
                        {% endif %}
                    </div>
                </div>
                <div class="portlet-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
                    </form>

                    {% if spec_client %}
                        {% if perms.systen.delete_client %}
                            <a href="{% url 'client.delete'  spec_client.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block pluginjs %}
    <script type="application/javascript"
            src="{% static 'assets/global/plugins/select2/select2.min.js' %}"></script>
{% endblock %}
{% block script %}
    <script>
        (function () {
            $('form select').select2();
        }());
    </script>
{% endblock %}