<div class="table-toolbar">
	<div class="row">
		<div class="col-md-6">
			<div class="btn-group">
                <a href="{% url "coe.add" client.id %}" class="btn green">
{#                                    <a href="#" class="btn green">#}
					Add New <i class="fa fa-plus"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="row profile-account">
		<div class="col-md-3">
			<ul class="ver-inline-menu tabbable margin-bottom-10">
				{% for coe in coes %}
					{% if forloop.counter == 1 %}
                    <li class="active">
                    {% else %}<li>{% endif %}
						<a data-toggle="tab" href="#tab_{{ forloop.counter }}-{{ forloop.counter }}">
						<i class="fa fa-cog"></i> COE - {{ forloop.counter }} </a>
						<span class="after">
						</span>
					</li>
                {% endfor %}
			</ul>
		</div>
        	<div class="col-md-9">
				<div class="tab-content">
                {% for coe in coes %}
                    {% if forloop.counter == 1 %}
					<div id="tab_{{ forloop.counter }}-{{ forloop.counter }}" class="tab-pane active">
                    {% else %} <div id="tab_{{ forloop.counter }}-{{ forloop.counter }}" class="tab-pane">
                    {% endif %}
					<div class="col-md-12 col-sm-12">
						<div class="portlet blue box">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-cogs"></i>COE Information
								</div>
								<div class="actions">
									<a href="{% url "coe.change" client.id coe.id%}" class="btn btn-default btn-sm">
									<i class="fa fa-pencil"></i> Edit </a>
								</div>
							</div>
                				<div class="portlet-body">
									<div class="row static-info">
										<div class="col-md-5 name">
											ID
										</div>
										<div class="col-md-7 value">
											 {{ coe.id }}
										</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5 name">
											 Institution
										</div>
										<div class="col-md-7 value">
											 {{ coe.institution.name }}
										</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5 name">
											 Course Start
										</div>
										<div class="col-md-7 value">
											 {{ coe.start }}
										</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5 name">
											 Course End
										</div>
										<div class="col-md-7 value">
											 {{ coe.end }}
										</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5 name">
											 Total Tuition Fee
										</div>
										<div class="col-md-7 value">
											 {{ coe.totalTuitionFee }}
										</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5 name">
											 Bouns
										</div>
										<div class="col-md-7 value">
											 {{ coe.bonus }}
										</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5 name">
											 Referal's Commission
										</div>
										<div class="col-md-7 value">
											 {{ coe.referalCommission }}
										</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5 name">
											 Consultant's Commission
										</div>
										<div class="col-md-7 value">
											 {{ coe.consultantCommission }}
										</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5 name">
											 Description
										</div>
										<div class="col-md-7 value">
											 {{ coe.description }}
										</div>
									</div>

							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="portlet grey-cascade box">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-cogs"></i>Payment Information
								</div>
								<div class="actions">
									<a href="#" class="btn btn-default btn-sm">
									<i class="fa fa-pencil"></i> Edit </a>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-responsive">
									<table class="table table-hover table-bordered table-striped">
									<thead>
									<tr>
										<th>PaymentID</th>
										<th>Amount received</th>
										<th>Received Date</th>
										<th>Amount Paid</th>
										<th>Payment Date</th>
										<th>Commission Claimed</th>
                                        <th>Commission Received</th>
										<th>Next Due Date</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<th>2001</th>
										<th>$715.25</th>
										<th>2014-12-25</th>
										<th>$700</th>
										<th>2014-12-31</th>
										<th>$300</th>
                                        <th>$270.30</th>
										<th>2015-01-31</th>
									</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
            	{% endfor %}
            </div>
        </div>
		<!--end col-md-9-->
	</div>
</div>