<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>PaymentID</th>
            <th>Amount received</th>
            <th>Received Date</th>
            <th>Amount Paid</th>
            <th>Payment Date</th>
            <th>Commission Claimed</th>
            <th>Commission Received</th>
{#            <th>Next Due Date</th>#}
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.id }}</td>
                <td>{{ payment.receivedAmount }}</td>
                <td>{{ payment.receivedDate }}</td>
                <td>{{ payment.paidAmount }}</td>
                <td>{{ payment.paidDate }}</td>
                <td>{{ payment.commssionClaimed }}</td>
                <td>{{ payment.commssionRecevied }}</td>
{#                <td>{{ payment.nextDueDate }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>