<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet grey-cascade box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>COE Information
                </div>
                <div class="actions">
                    <a href="#" class="btn btn-default btn-sm">
                    <i class="fa fa-pencil"></i> Edit </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Institution</th>
                        <th>Course Start</th>
                        <th>Course End</th>
                        <th>Total Tuition Fee</th>
                        <th>Amount received</th>
                        <th>Received Date</th>
                        <th>Total Received</th>
                        <th>Amount Paid</th>
                        <th>Payment Date</th>
                        <th>Commission Claimed</th>
                        <th>Next Due Date</th>
                        <th>Total Commission received (GST INC.)</th>
                        <th>Bonus</th>
                        <th>Referal's Commission</th>
                        <th>Consultant's Commission</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>