<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="portlet blue-madison box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Personal Information
                </div>
                <div class="actions">
                    <a href="#" class="btn btn-default btn-sm">
                    <i class="fa fa-pencil"></i> Edit </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Name
                    </div>
                    <div class="col-md-7 value">
                         {{ clients.0.name }}
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Preferred Name
                    </div>
                    <div class="col-md-7 value">
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         DoB
                    </div>
                    <div class="col-md-7 value">
                        1993-11-05
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Contact Number
                    </div>
                    <div class="col-md-7 value">
                         0415752434
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Email
                    </div>
                    <div class="col-md-7 value">
                         caiweiwei3366@163.com
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Nationality
                    </div>
                    <div class="col-md-7 value">
                         China
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Onshore/Offshore
                    </div>
                    <div class="col-md-7 value">
                        <span class="label label-primary">
                        Onshore </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="portlet yellow-crusta box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Visa Information
                </div>
                <div class="actions">
                    <a href="#" class="btn btn-default btn-sm">
                    <i class="fa fa-pencil"></i> Edit </a>
                </div>
            </div>
            <div class="portlet-body">

                <div class="row static-info">
                    <div class="col-md-5 name">
                         Visa SubClass
                    </div>
                    <div class="col-md-7 value">
                         163
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Visa Expiry Date
                    </div>
                    <div class="col-md-7 value">
                         2020-05-30
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Description
                    </div>
                    <div class="col-md-7 value">
                        Visa Descritpion................... <br/>
                        Visa Descritpion................... <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="portlet green-meadow box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Service Information
                </div>
                <div class="actions">
                    <a href="#" class="btn btn-default btn-sm">
                    <i class="fa fa-pencil"></i> Edit </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Status
                    </div>
                    <div class="col-md-7 value">
                         <span class="label label-success">
                        Ongoing </span>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Referal
                    </div>
                    <div class="col-md-7 value">
                         Tim Wang
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Consultant
                    </div>
                    <div class="col-md-7 value">
                         Cecilia Han
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Client Manager
                    </div>
                    <div class="col-md-7 value">
                         Eric Liu
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Stage
                    </div>
                    <div class="col-md-7 value">
                         <span class="label label-success">
                        Stage 1 </span>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Serivce Fee
                    </div>
                    <div class="col-md-7 value">
                         $1980.50
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Third Partey Fee Recevied
                    </div>
                    <div class="col-md-7 value">
                         $227.56
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name">
                         Thired Party Fee Paid
                    </div>
                    <div class="col-md-7 value">
                         $1214.98
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="portlet red-sunglo box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Notes
                </div>
                <div class="actions">
                    <a href="#" class="btn btn-default btn-sm">
                    <i class="fa fa-pencil"></i> Edit </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                    <div class="col-md-12 value">
                        .... <br>
                        .... <br>
                        .... <br>
                        .... <br>
                        .... <br>
                        .... <br>
                        .... <br>
                        .... <br>
                        .... <br>
                        .... <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
