<div class="row">
	<div class="row profile-account">
		<div class="col-md-3">
			<ul class="ver-inline-menu tabbable margin-bottom-10">
				<li class="active">
					<a data-toggle="tab" href="#tab_1-1">
					<i class="fa fa-cog"></i> COE - 10001 </a>
					<span class="after">
					</span>
				</li>
				<li>
					<a data-toggle="tab" href="#tab_2-2">
					<i class="fa fa-picture-o"></i> COE - 10002 </a>
				</li>
				<li>
					<a data-toggle="tab" href="#tab_3-3">
					<i class="fa fa-lock"></i> COE - 10003 </a>
				</li>
				<li>
					<a data-toggle="tab" href="#tab_4-4">
					<i class="fa fa-eye"></i> COE - 10004 </a>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="tab-content">
				<div id="tab_1-1" class="tab-pane active">
					<div class="col-md-12 col-sm-12">
						<div class="portlet blue box">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-cogs"></i>COE Information
								</div>
								<div class="actions">
									<a href="#" class="btn btn-default btn-sm">
									<i class="fa fa-pencil"></i> Edit </a>
								</div>
							</div>
							<div class="portlet-body">
								<div class="row static-info">
									<div class="col-md-5 name">
										ID
									</div>
									<div class="col-md-7 value">
										 1001
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										 Institution
									</div>
									<div class="col-md-7 value">
										 The University of Melbourne
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										 Course Start
									</div>
									<div class="col-md-7 value">
										 2014-05-11
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										 Course End
									</div>
									<div class="col-md-7 value">
										 2016-07-01
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										 Total Tuition Fee
									</div>
									<div class="col-md-7 value">
										 $31513.52
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										 Total Received
									</div>
									<div class="col-md-7 value">
										 $15782.25
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										 Total Payment
									</div>
									<div class="col-md-7 value">
										 $13000.00
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										 Total Commission Received
									</div>
									<div class="col-md-7 value">
										 $320.56
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										 Bouns
									</div>
									<div class="col-md-7 value">
										 $100
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										 Referal's Commission
									</div>
									<div class="col-md-7 value">
										 $50
									</div>
								</div>
								<div class="row static-info">
									<div class="col-md-5 name">
										 Consultant's Commission
									</div>
									<div class="col-md-7 value">
										 $70
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="portlet grey-cascade box">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-cogs"></i>Payment Information
								</div>
								<div class="actions">
									<a href="#" class="btn btn-default btn-sm">
									<i class="fa fa-pencil"></i> Edit </a>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-responsive">
									<table class="table table-hover table-bordered table-striped">
									<thead>
									<tr>
										<th>PaymentID</th>
										<th>Amount received</th>
										<th>Received Date</th>
										<th>Amount Paid</th>
										<th>Payment Date</th>
										<th>Commission Claimed</th>
                                        <th>Commission Received</th>
										<th>Next Due Date</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<th>2001</th>
										<th>$715.25</th>
										<th>2014-12-25</th>
										<th>$700</th>
										<th>2014-12-31</th>
										<th>$300</th>
                                        <th>$270.30</th>
										<th>2015-01-31</th>
									</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--end col-md-9-->
	</div>
</div>