{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    {{ client.name }}'s Details
{% endblock %}
{% block plugincss %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}"/>
	<link href="{% static 'assets/global/plugins/dropzone/css/dropzone.css' %}" rel="stylesheet"/>
{% endblock %}

{#page content#}
{% block header %}
    {{ client.name }}'s
{% endblock %}
{% block subHeader %}
    Details
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'client.list' %}">Client</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/client/details/{{ client.id }}">Details</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-user font-green-sharp"></i>
					<span class="caption-subject font-green-sharp bold uppercase">
					{{ client.name }} </span>
					<span class="caption-helper">information</span>
				</div>
				<div class="actions">
					<a href="#" class="btn btn-default btn-circle">
					<i class="fa fa-angle-left"></i>
					<span class="hidden-480">
					Back </span>
					</a>
					<div class="btn-group">
						<a class="btn btn-default btn-circle" href="#" data-toggle="dropdown">
						<i class="fa fa-cog"></i>
						<span class="hidden-480">
						Tools </span>
						<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="#">
								Export to Excel </a>
							</li>
							<li>
								<a href="#">
								Export to CSV </a>
							</li>
							<li>
								<a href="#">
								Export to XML </a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#">
								Print Invoice </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="tabbable">
                    <div class="tab-content">
						<div class="tab-pane active" id="tab_1 ">
                            {% bootstrap_messages %}
                        	<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="portlet blue-madison box">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-user"></i>Personal Information
											</div>
											<div class="actions">
												<a href="/client/mod/personal/{{ client.id }}" class="btn btn-default btn-sm">
													<i class="fa fa-pencil"></i> Edit </a>
											</div>
										</div>
										<div class="portlet-body">
											<div class="row static-info">
												<div class="col-md-5 name">
													Name
												</div>
												<div class="col-md-7 value">
													{{ client.name }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Preferred Name
												</div>
												<div class="col-md-7 value">
													{{ client.preferredName }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													DoB
												</div>
												<div class="col-md-7 value">
													{{ client.dob }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Contact Number
												</div>
												<div class="col-md-7 value">
													{{ client.phone }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Email
												</div>
												<div class="col-md-7 value">
													{{ client.email }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Nationality
												</div>
												<div class="col-md-7 value">
													{{ client.nationality }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Onshore/Offshore
												</div>
												<div class="col-md-7 value">
													<span class="label label-primary">
														{% if client.onshore %}Onshore
														{% else %}Offshore
														{% endif %}
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="portlet yellow-crusta box">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-credit-card"></i>Visa Information
											</div>
											<div class="actions">
												<a href="/client/mod/visa/{{ client.id }}" class="btn btn-default btn-sm">
													<i class="fa fa-pencil"></i> Edit </a>
											</div>
										</div>
										<div class="portlet-body">

											<div class="row static-info">
												<div class="col-md-5 name">
													Visa SubClass
												</div>
												<div class="col-md-7 value">
													{{ client.visa.subClass }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Visa Expiry Date
												</div>
												<div class="col-md-7 value">
													{{ client.expire }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Description
												</div>
												<div class="col-md-7 value">
													Visa Descritpion................... <br/>
													Visa Descritpion................... <br/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="portlet green-meadow box">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-group"></i>Service Information
											</div>
											<div class="actions">
												<a href="/client/mod/service/{{ client.id }}" class="btn btn-default btn-sm">
													<i class="fa fa-pencil"></i> Edit </a>
											</div>
										</div>
										<div class="portlet-body">
											<div class="row static-info">
												<div class="col-md-5 name">
													Status
												</div>
												<div class="col-md-7 value">
													 <span class="label label-success">
														{{ client.status }}
													 </span>
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Referal
												</div>
												<div class="col-md-7 value">
													{{ client.referal.name }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Consultant
												</div>
												<div class="col-md-7 value">
													{{ client.consultant.name }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Client Manager
												</div>
												<div class="col-md-7 value">
													{{ client.clientManager.name }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Stage
												</div>
												<div class="col-md-7 value">
													 <span class="label label-success">
													Stage 1 </span>
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Serivce Fee
												</div>
												<div class="col-md-7 value">
													{{ client.serviceFee }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Third Partey Fee Recevied
												</div>
												<div class="col-md-7 value">
													{{ client.thirdPartyFeeReceived }}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													Thired Party Fee Paid
												</div>
												<div class="col-md-7 value">
													{{ client.thirdPartyFeePaid }}
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="portlet red-sunglo box">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-file-text"></i>Notes
											</div>
											<div class="actions">
												<a href="/client/mod/notes/{{ client.id }}" class="btn btn-default btn-sm">
													<i class="fa fa-pencil"></i> Edit </a>
											</div>
										</div>
										<div class="portlet-body">
											<div class="row static-info">
												<div class="col-md-12 value">
													{{ client.note }}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        	<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="portlet purple plum box">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-file-o"></i>COE Information
											</div>
											<div class="actions">
												<a href="{% url "coe.add" client.id %}" class="btn btn-default btn-sm">
												<i class="fa fa-pencil"></i> Add </a>
											</div>
										</div>
										<div class="portlet-body">
											<div class="table-responsive">
												<table class="table table-hover table-bordered table-striped">
												<thead>
												<tr>
													<th>ID</th>
													<th>Code</th>
													<th>Institution</th>
													<th>Course Start</th>
													<th>Course End</th>
													<th>Total Tuition Fee</th>
													<th>Description</th>
													<th></th>
												</tr>
												</thead>
												<tbody>
                                                {% for coe in client.coes.all %}
													<tr>
													<td>{{ coe.id }}</td>
													<td>{{ coe.number }}</td>
													<td>{{ coe.institution.name }}</td>
													<td>{{ coe.start }}</td>
													<td>{{ coe.end }}</td>
													<td>{{ coe.totalTuitionFee }}</td>
													<td>{{ coe.description }}</td>
													<td><a class="btn default btn-xs green-stripe" href="{% url "coe.details" coe.id %}">
													View </a></th>
												</tr>
                                                {% endfor %}
												</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if perms.client.change_coe %}
	<div id="context-menu">
		<ul class="dropdown-menu" role="menu">
			<li><a tabindex="-1" id="edit" href="#">Edit</a></li>
		</ul>
	</div>
{% endif %}
{% endblock %}
{#end page content#}

{% block pluginjs %}
	<script type="text/javascript" src="{% static 'assets/global/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/bootstrap-contextmenu/bootstrap-contextmenu.js' %}"></script>
{% endblock %}
{% block script %}
    <script>
        (function () {
            

            {% if perms.system.change_coe %}
                $('.table tbody tr').contextmenu({
                    target: '#context-menu',
                    before: function (e, context) {
                        $('#edit').attr('href', ('/client/coe/mod/' + $(context).children('td:first').text()));
                        return true;
                    },
                    onItem: function () {
                        window.location.href = $('#edit').attr('href');
                        return true;
                    }
                });
            {% endif %}
            $('.table').dataTable();

        }());
    </script>
{% endblock %}