{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    {% if spec_payment %}
        Payment Configuration
    {% else %}
        {{ client.name }}'s Payment Addition
    {% endif %}
{% endblock %}
{% block plugincss %}
{% endblock %}
{% block header %}
    Payment
{% endblock %}
{% block subHeader %}
    {% if spec_payment %}
        Configuration
    {% else %}
        Addition
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'client.list' %}">Client</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            {% if spec_payment %}
                <a href="/client/details/{{ client.id }}">{{ client.name }}</a>
            {% else %}
                <a href="#">New Payment</a>
            {% endif %}

        </li>
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>
                        {% if spec_payment %}
                            Payment Configuration
                        {% else %}
                            Payment Addition
                        {% endif %}
                    </div>
                </div>
                <div class="portlet-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
                    </form>
{#                    {{ client.id }}#}
                    {% if spec_payment %}
                        {% if perms.systen.delete_payment %}
{#                            {{ client.id }}#}
                            <a href="{% url "payment.delete" client.id spec_payment.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block pluginjs %}
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>

{% endblock %}
{% block script %}
    <script>
        (function () {
            $('.table').dataTable();
        }());
    </script>
{% endblock %}